/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
    color: #242729;
}

/*********************************************
* CS STYLES
*********************************************/
.reveal .footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: #3197d4;
    font-size: 0.5em;
    color: white;
}

a:link {
    color: #242729;
}

a:visited {
    color: #242729;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
    background: white;

}

.reveal {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 1.47em;
    font-weight: normal;
    color: #242729;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

::selection {
    color: #fff;
    background: #134674;
    text-shadow: none;
}

.reveal .col-right {
    display: block;
}

.reveal .col-left h1, .reveal .col-left h2, .reveal .col-left h3, .reveal .col-left h4, .reveal .col-left h5, .reveal .col-left h6, .reveal .col-left p {
    color: #fff;
    text-align: left;
    line-height: 1.2;
}

.reveal .col-left h2 {
    font-size: 1.3em;
    margin-bottom: 30px;
    line-height: 1.2;
}

.reveal .col-left h3 {
    font-size: 1.375em;
    margin-bottom: 10px;
}

.reveal .col-left h4 {
    font-size: 0.725em;
    margin-bottom: 10px;
}

.reveal .col-left p {
    font-size: 0.525em;
    margin-top: 0;
}

.reveal .col-left li {
    font-size: 0.525em;
    margin-top: 0;
}

.reveal .slide-background {

}

.reveal > .backgrounds {
    background: url('footer_pattern.svg') fixed repeat-x bottom center;
    background-size: contain;
}

.reveal > .backgrounds.first-slide {
    background: url('pattern.svg') fixed repeat-y left center;
    background-size: contain;
}

.reveal .slides > section > section {
    line-height: 1.3;
    font-weight: inherit;
    text-align: left;
}

#loading p {
    font-family: "Open Sans", Helvetica, sans-serif;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin: 0 0 20px 0;
    color: #2841f9;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    /* text-transform: uppercase; */
    text-shadow: none;
    word-wrap: break-word;
}

.reveal h1 {
    font-size: 2.5em;
}

.reveal h2 {
    font-size: 1.9em;
}

.reveal h3 {
    font-size: 1.6em;
}

.reveal h4 {
    font-size: 1.4em;
}

.reveal h1 {
    text-shadow: none;
}

.reveal p {
    font-size: 30px;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
    margin: 20px 0;
    line-height: 1.3;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
    max-width: 95%;
    max-height: 95%;
}

.reveal strong,
.reveal b {
    font-weight: bold;
}

.reveal em {
    font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
}

.reveal ol {
    list-style-type: decimal;
}

.reveal ul {
    list-style-type: disc;
}

.reveal ul ul {
    list-style-type: square;
}

.reveal ul ul ul {
    list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
    display: block;
    margin-left: 40px;
}

.reveal dt {
    font-weight: bold;
}

.reveal dd {
    margin-left: 40px;
}

.reveal q,
.reveal blockquote {
    quotes: none;
}

.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: 20px auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    line-height: 1.2;
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
    display: inline-block;
}

.reveal q {
    font-style: italic;
}

.reveal pre {
    display: block;
    position: relative;
    width: 90%;
    margin: 20px auto;
    text-align: left;
    font-size: 0.55rem;
    font-family: monospace;
    line-height: 18px;
    word-wrap: break-word;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.reveal code {
    font-family: monospace;
}

.reveal pre code {
    display: block;
    padding: 25px 5px;
    max-height: 400px;
    word-wrap: normal;
    overflow: auto;
    font-size: 18px;
    line-height: 1;
}

.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.reveal table th {
    font-weight: bold;
}

.reveal table th,
.reveal table td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
    text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
    text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
    border-bottom: none;
}

.reveal sup {
    vertical-align: super;
}

.reveal sub {
    vertical-align: sub;
}

.reveal small {
    display: inline-block;
    font-size: 0.6rem;
    line-height: 1.2rem;
    vertical-align: top;
}

.reveal small * {
    vertical-align: top;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
    color: #42affa;
    text-decoration: none;
    -webkit-transition: color .15s ease;
    -moz-transition: color .15s ease;
    transition: color .15s ease;
}

.reveal a:hover {
    color: #8dcffc;
    text-shadow: none;
    border: none;
}

.reveal .roll span:after {
    color: #fff;
    background: #068de9;
}

/*********************************************
 * IMAGES
 *********************************************/

.reveal section img.plain {
    border: 0;
    box-shadow: none;
}

.reveal a img {
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
}

.reveal a:hover img {
    background: rgba(255, 255, 255, 0.2);
    border-color: #42affa;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
    color: #42affa;
}

.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
    border-right-color: #42affa;
}

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
    border-left-color: #42affa;
}

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
    border-bottom-color: #42affa;
}

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
    border-top-color: #42affa;
}

.reveal .controls .navigate-left.enabled:hover {
    border-right-color: #8dcffc;
}

.reveal .controls .navigate-right.enabled:hover {
    border-left-color: #8dcffc;
}

.reveal .controls .navigate-up.enabled:hover {
    border-bottom-color: #8dcffc;
}

.reveal .controls .navigate-down.enabled:hover {
    border-top-color: #8dcffc;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
    background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
    background: #42affa;
    -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*!**********************************************/
/** FOOTER*/
/**********************************************!*/
.reveal #footer {
    background: url('footer_blue_pattern_logo.svg') fixed repeat-x bottom center;
    background-size: contain;
    height: 2.6em;
    position: absolute;
    bottom: -1.5em;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.reveal #footer.printFooter {
    background: url('footer_blue_pattern_logo.svg') no-repeat bottom center;
    background-size: cover;
    height: 2.6em;
    position: absolute;
    bottom: 0;
}

.reveal #footer-right {
    position: absolute;
    right: 6%;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.1em;
}

.reveal #footer-left {
    position: absolute;
    left: 6%;
    z-index: 3;
    color: #fff !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.1em;
}

.reveal #footer-right p,
.reveal #footer-left p {
    color: #fff;
    font-size: 0.6em;
    margin: 1em;
}

.backgrounds.first-slide #footer {
    display: none !important;
}

.reveal .slides {
    position: relative !important;
    box-sizing: border-box;
    height: 100vh;

}

.reveal.first-slide #left-col {
    background: url('side_blue_pattern.svg') fixed repeat-y left center;
    background-size: contain;
    text-align: left;
    padding: 6% 2% 0 4%;
    box-sizing: border-box;
    z-index: 4;
    height: 100vh;

}

/*.reveal.first-slide .slides {*/
/**/
/*}*/

.reveal.first-slide .slides section[data-markdown] {
    box-sizing: border-box;
    padding: 0;
}

.reveal .slides > section {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
}

#WrapInner {
    display: block;
    -webkit-box-sizing: border-box /* Safari/Chrome, other WebKit */;
    -moz-box-sizing: border-box /* Firefox, other Gecko */;
    box-sizing: border-box;
    padding: 0 0 10px 0;
    font-size: 30px;

}
.reveal ul {
    font-size: 30px;
}

.reveal ul li {
    line-height: 1.5;
    font-size:30px;

}

.listing {
    background: #2841f9 url('pattern.svg') fixed repeat left center;
}

.listing a {
    text-decoration: none;
    color: #333333;

}

.listing a:hover {
    text-decoration: none;
    color: #2841f9;
}

.listing .list-container {
    background: url('pattern.svg') fixed repeat left center;
    padding: 20px 10px;
    background: #fff;
    position: relative;
    border: 1px solid #e7e7e8;
    -webkit-box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.15);
    max-width: 33%;
}

.list {
    list-style-type: none;
    position: relative;
    border-left: 1px dashed #1DD5B2;
    padding-left: 30px;
    margin-left: 30px;
}

.listing a:before {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    position: absolute;
    left: -8px;
    background: #fff;
    border: 2px solid #1DD5B2;
    transition: all 0.3s;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    z-index: 9;
    margin-top: 5px;
}

.listing a:hover:before {
    background: #1DD5B2;
}

.reveal .logo-image {
    width: 20%;
}

.reveal .logo {
    margin: 0 auto;
    max-width: 25%;
    position: absolute;
    bottom: 0;
}

@media not all and (min-resolution: .001dpcm) {
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {
        .reveal .logo {
            max-width: 20%;
        }
    }
}

.reveal .controls {
    transform: scale(0.8);
}

@media only screen and (max-width: 1440px) {
    .reveal .controls {
        transform: scale(0.5);
    }
}

@-moz-document url-prefix() {
    .reveal.first-slide #left-col {
        background-size: cover;
    }
    .reveal .slides #footer {
        height: 30%;
        position: absolute;
        bottom: -2%;
        width: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .reveal .slides {
        display: inline-block;
        box-sizing: unset;
        height: 100vh;
    }

}

.reveal.first-slide #WrapInner {
    padding: 0 7% 0 7%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    _::-webkit-full-page-media, _:future, :root, .reveal.first-slide #left-col {
        background-size: cover;
    }
}

.reveal .slide-background.present {
    height: 94vh;
}

#loading {
    top: 50%;
    left: 45%;
    right: 50%;
    bottom: 50%;
    position: absolute;
    display: block;
    z-index: 99;
    margin: 0 auto;
}

#loading p {
    color: #2841f9;
}

.reveal .slides .pdf-page {
    max-height: 727px;

}

.reveal .pdf-page .slide-background.present {
    height: 100%;
}